<nav class="navbar navbar-custom overlay" role="navigation">
  <ul class="nav navbar-nav center-block text-center">
    <li class="page-scroll">
      <a href="/index.html">Home</a>
    </li>
    <li class="page-scroll">
      <a href="#blog">Blog</a>
    </li>
    <li class="page-scroll">
      <a class="active" href="/projects.html">Projects</a>
    </li>
    <li class="page-scroll">
      <a href="#media">Media</a>
    </li>
    <li class="page-scroll">
      <a href="#contact">Contact</a>
    </li>
  </ul>
</nav>

