<nav class="navbar navbar-custom" role="navigation">
  <ul class="nav navbar-nav center-block text-center">
    <li class="page-scroll">
      <a href="/index.html">Home</a>
    </li>
    <li class="page-scroll">
      <a {% if page.title == 'Blog' %} class="active" {% endif %} href="/blog.html">Blog</a>
    </li>
    <li class="page-scroll">
      <a {% if page.title == 'Projects' %} class="active" {% endif %} href="/projects.html">Projects</a>
    </li>
    <li class="page-scroll">
      <a {% if page.title == 'Media' %} class="active" {% endif %} href="/media.html">Media</a>
    </li>
    <li class="page-scroll">
      <a {% if page.title == 'Contact' %} class="active" {% endif %} href="/contact.html">Contact</a>
    </li>
  </ul>
</nav>

