body {
    background-image: url("/assets/images/title.jpg");
}

.hbox {
    width: 100%;
    position: absolute;
}

.overlay {
    box-shadow: 0px 1px 50px 1px black;
    background-color: white;
    width: 100%;
}
