body {
    background-image: url("/assets/images/bg.png");
}

#name-big {
    font-family: 'Nothing You Could Do', cursive;
    color: black;
    font-size: 10em;
    margin-top: 150px;
    margin-bottom: 50px;
}

.hbox{
    background-color: white;
    width: 100%;
    box-shadow: 0px 1px 20px 1px black;
    padding-bottom: 100px;
}

.navbar-custom {
    font-family: 'Nothing You Could Do';
    font-size: 2em;
}

.nav>li>a {
    color: black;
    margin-left: 100px;
}

.nav>li>a:hover {
    color: white;
    background-color: black !important;
}
