#title {
//    background-image: url("/assets/images/title.jpg");
//    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
}

#name-big {
    font-family: 'Nothing You Could Do', cursive;
    color: black;
    font-size: 7em;
    margin-top: 150px;
    margin-bottom: 50px;
}
